header {
    text-align:center;  
    padding-top: 7px;  
}

hr {
    background-color: black; 
}

div {
    display:inline-block;
    width: 308px;
    transition: width ease-in-out;
    transition-delay: 0.1s;
    transition-duration:0.3s;
    text-align:center;
    position:relative; 
    border: solid black 2px; 
    border-radius: 7px;
}

div:hover {
    width: 315px;
}

